/*------Browser scroll bar------*/
::-webkit-scrollbar {
    height: .4rem;
    width: .4rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}


/*------Navigation bar------*/
.navbar {
    box-shadow: 0px 5px 10px rgb(52, 52, 52);
    background-color: black !important;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    height: 6vh;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.bgimag {
    height: 94vh;
    background-color: black;
    /* background-image: url(/static/images/canva-photo-editor.png)  -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.055)), trgba(0, 0, 0, 0.048)1)));; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.801)), url(/static/images/canva-photo-editor.png);
    background-position: center;
    background-size: 50%;
    position: relative;
    top: 0px;
    display: flex;
    align-items: flex-end;
}


/*------Buttons------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60%;
    margin: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 900;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.heading {
    font-size: 23px;
    padding-bottom: 3rem;
    font-style: italic;
    font-family: ui-sans-serif;
}


.bttn {
    color: #ffffff;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700 !important;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

.bttn:hover {
    text-decoration: none;
}

/*------Classify button------*/
/* .bttn-1 {
    background: transparent;
} */

.bttn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bttn-1 rect {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.bttn-1:hover {
    background: transparent;
    font-weight: 500;
    letter-spacing: 5px;
    /* color: #5eff00; */
    color: #ffffff;
}

.bttn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/*------Severity button------*/
/* 
.bttn-2:hover,
.bttn-2:active {
    letter-spacing: 5px;
    color: #ff1100;
    font-weight: 200;
}

.bttn-2:after,
.bttn-2:before {
    backface-visibility: hidden;
    border: 1px solid transparent;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.bttn-2:hover:after,
.bttn-2:hover:before {
    backface-visibility: hidden;
    border-color: #ff1100;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.bttn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 90%;
}

.sub {
    text-decoration: none;
} */

/*------Website footer------*/
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background: #151414;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.footer-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}


.footer-widget-heading h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 220px;
    background: #0004ff;
}

.names {
    font-family: cursive;
    font-size: 1.5srem;
    color: #aaaaaa;
    font-weight: bold;
}

.footer-widget ul li {
    /* display: inline-block; */
    float: center;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #5eff00;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.copyright-area{
    position: fixed;
    bottom: 0; 
    width: 100%;
    background: #202020;
    padding: 10px 0px 10px 0px;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #ff1100;
}