<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon_io/favicon.ico" %}">
    <link rel="manifest" href="{% static "favicon_io/site.webmanifest" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/classify.css" %}">

    <script src="{% static "src/classify.js" %}"></script>


    <title>Intracranial Brain Hemorrhage Detection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" id="navbar">
        <a class="navbar-brand" href="#" style="font-family: cursive; color: #c5c4c4; font-weight: bold;">
            
            <img src="{% static "images/logo.png" %}" width="40" height="30"
                class="d-inline-block align-top" alt="">
            Intracranial Brain Hemorrhage Detection
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#" id="aboutus">Classify</a>
                <a class="nav-item nav-link" href="#" id="aboutus">Check Severity</a>
            </div>
        </div>
    </nav>


    <div class="file-upload">        
        <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Upload Image</button>

        <div class="file-upload-placeholder">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept=".dcm" />
            <div class="drag-text">
            <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        
        <div class="file-upload-preview">
            <!-- <img class="file-upload-image" src="#" alt="test" /> -->
            <div class="file-upload-remove">
            <button type="button" onclick="removeUpload()" class="remove-image">Delete <span class="image-title">Uploaded Image</span></button>
            </div>
        </div>
    
    </div>


    <footer>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-lefts">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2020, All Right Reserved <a href="#">Text Summarization</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
</body>

</html>