<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    {% load static %}
    <script src="{% static "src/classify.js" %}"></script>

    <script src="https://transloadit.edgly.net/releases/uppy/v1.10.1/uppy.min.js"></script>
    <link rel="stylesheet" href="{% static "css/uppy.min.css" %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon_io/favicon.ico" %}">
    <link rel="manifest" href="{% static "favicon_io/site.webmanifest" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/classify.css" %}">

    <title>Intracranial Brain Hemorrhage Detection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark" id="navbar">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-family: ui-sans-serif;; color: #c5c4c4;">
            
            <img src="{% static "images/logo.png" %}" width="40" height="30"
                class="d-inline-block align-top" alt="">
            Intracranial Brain Hemorrhage Detection
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="#" id="classify">Classify</a>
                <a class="nav-item nav-link" href="#" id="severity">Check Severity</a>
            </div>
        </div>
    </nav>



    <div id="drag-drop-area"></div>
    
    <!-- <button type="button" class="result_button" id="submit"></button> -->
    <div style="text-align: center;" id="loading">
        <i class="loading-icon fa fa-spinner fa-spin hide" style="font-size: 5em;"></i>
    </div>
    <!-- </button> -->

    <img src="" id="original" height="256" width="256" >
    <img src="" id="windowed" height="256" width="256" >    

    <footer>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-lefts">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="#">Intracranial Brain Hemorrhage
                            Detection</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
</body>

</html>