<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon_io/favicon.ico" %}">
    <link rel="manifest" href="{% static "favicon_io/site.webmanifest" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <title>Intracranial Brain Hemorrhage Detection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top" id="navbar ">
        <a class="navbar-brand" href="{% url 'home' %}"
            style="font-family: ui-sans-serif; color: #c5c4c4; display: flex; align-items: center; justify-content: center;">

            <img src="{% static "images/Logo.jpeg" %}" width="60" height="45" class="d-inline-block align-top" alt=""
                style="margin-bottom: 0.2rem;">
            Intracranial Brain Hemorrhage Detection
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-weight: 600;">
                <a class="nav-item nav-link active" id="topic" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" id="topic-secondary" href="{% url 'classify' %}" id="aboutus">Classify</a>
                <a class="nav-item nav-link" id="topic-secondary" href="{% url 'predict' %}" id="predict">Check
                    Severity</a>
                <!-- <a class="nav-item nav-link" href="{% url 'predict' %}" id="predict">Predict</a> -->
            </div>
        </div>
    </nav>

    <div class="bgimag">
        <div class="buttons">
            <div class="heading">
                <p class="lineone">
                    "Acute Intracranial Hemorrhage (ICH) is bleeding in or around
                </p>
                <p class="linetwo">
                    the brain either as a result of ruptured aneurysm,
                </p>
                <p class="linethree">
                    known as a hemorrhagic stroke, or following a significant bleed in the head."
                </p>
            </div>
            <a href="{% url 'classify' %}" class="bttn bttn-1" id="sub">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%" />
                </svg>
                Classify
            </a>
            <a href="{% url 'predict' %}" class="bttn bttn-1" id="clear">
                <svg>
                    <rect x="0" y="0" fill="none" width="100%" height="100%" />
                </svg>
                Severity
            </a>
        </div>
    </div>
    <div class="paper">
        <!-- <div class="description">
            <p>
                Intracranial Brain Hemorrhage DetectionIntracranial Brain Hemorrhage DetectionIntracranial Brain Hemorrhage DetectionIntracranial Brain Hemorrhage DetectionIntracranial Brain Hemorrhage Detection
            </p>
        </div> -->
        <div class="card" id="pap">
            <img src="{% static "images/Paper.png" %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">A CNN-RNN based approach for Simultaneous
                    Detection, Identification and Classification of
                    Intracranial Hemorrhage</h5>
                <p class="card-text">International Conference on Communication, Information and Computing
                    Technology-2021, IEEE, SPIT</p>
                <!-- <a href="#" class="btn btn-danger" style="margin: 0 0em 2em;">Go somewhere</a> -->
                <div class="butt" id="pdfpaper">
                    <a href="{% url 'paper' %}" class="bttnone bttn-12">
                        <svg>
                            <rect x="0" y="0" fill="none" width="100%" height="100%" />
                        </svg>
                        Paper
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="credit">
        <footer class="footer-section">
            <div class="container">
                <div class="footer-content pt-4 pb-4">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-6 mb-30">
                            <div class="footer-widget" id="wid">
                                <div class="footer-widget-heading">
                                    <h3>Our Team</h3>
                                </div>
                                <div class="names">
                                    <a href="https://github.com/jesdin">
                                        <p style="color: #adb5bd;">Jesdin Raphael</p>
                                    </a>
                                    <a href="https://github.com/prishitakadam">
                                        <p style="color: #adb5bd;">Prishita Kadam</p>
                                    </a>
                                    <a href="https://github.com/PrajwalKarale">
                                        <p style="color: #adb5bd;">Prajwal Karale</p>
                                    </a>
                                    <a href="https://github.com/dsilvaian">
                                        <p style="color: #adb5bd;">Ian D'silva</p>
                                    </a>
                                </div>
                            </div>
                        </div>s
                    </div>
                </div>
            </div>
    </div>
    <footer>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-lefts">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021, All Right Reserved <a href="{% url 'home' %}">Intracranial Brain
                                    Hemorrhage
                                    Detection</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>

</html>