<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon_io/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon_io/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon_io/favicon-16x16.png" %}">
    <link rel="shortcut icon" type="image/png" href="{% static "favicon_io/favicon.ico" %}">
    <link rel="manifest" href="{% static "favicon_io/site.webmanifest" %}">

    <link rel="stylesheet" href="{% static "css/style2.css" %}">

    <title>Intracranial Brain Hemorrhage Detection</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top" id="navbar">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-family: ui-sans-serif; color: #c5c4c4;">

            <img src="{% static "images/logo.png" %}" width="40" height="30" class="d-inline-block align-top" alt="">
            Intracranial Brain Hemorrhage Detection
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-weight: 600;">
                <a class="nav-item nav-link active" id="topic-secondary" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" id="topic-secondary" href="{% url 'classify' %}" id="aboutus">Classify</a>
                <a class="nav-item nav-link" id="topic" href="{% url 'predict' %}" id="predict">Check Severity</a>
                <!-- <a class="nav-item nav-link" href="{% url 'predict' %}" id="predict">Predict</a> -->
            </div>
        </div>
    </nav>
    <div class="container-fluid tablerow">
        <div class="row table-dark rw" style="background-color: #0d1822;">
            <div class="col d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-4" style="font-weight: 700;">
                        <p>Response</p>
                    </div>
                    <div class="col-8 scale">
                        <p>Scale</p>
                    </div>
                </div>
                <hr class="one">
                <form id="ich_predict">
                    <div class="row rowone">
                        <div class="col-4 d-flex flex-column justify-content-center" style="font-weight: 700;">
                            <p>Eye Opening Response</p>
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Eye Opening Response"
                                    id="eyesopenspontaneaously" value="Eyes open spontaneously">
                                <label class="form-check-label" for="eyesopenspontaneaously">
                                    Eyes open spontaneously
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Eye Opening Response"
                                    id="eyesopentoverbalcommand" value="Eyes open to verbal command, speech or shout">
                                <label class="form-check-label" for="eyesopentoverbalcommand">
                                    Eyes open to verbal command, speech or shout
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Eye Opening Response"
                                    id="eyesopentopain" value="Eyes open to pain (not applied to face)">
                                <label class="form-check-label text-nowrap" for="eyesopentopain">
                                    Eyes open to pain (not applied to face)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Eye Opening Response"
                                    id="noeyeOpening" value="No eye opening">
                                <label class="form-check-label" for="noeyeOpening">
                                    No eye opening
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="one">
                    <div class="row rowtwo">
                        <div class="col-4 d-flex flex-column justify-content-center" style="font-weight: 700;">
                            <p>Verbal Response</p>
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Verbal Response" id="Oriented"
                                    value="Oriented">
                                <label class="form-check-label" for="Oriented">
                                    Oriented
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Verbal Response"
                                    id="confusedconversation"
                                    value="Confused conversation, but able to answer questions">
                                <label class="form-check-label" for="confusedconversation">
                                    Confused conversation, but able to answer questions
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Verbal Response"
                                    id="inappropriateresponses" value="Inappropraite responses, words discernible">
                                <label class="form-check-label" for="inappropriateresponses">
                                    Inappropraite responses, words discernible
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Verbal Response"
                                    id="Incomprehensible" value="Incomprehensible sounds or speech">
                                <label class="form-check-label" for="Incomprehensible">
                                    Incomprehensible sounds or speech
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Verbal Response"
                                    id="noverbalresponse" value="No verbal response">
                                <label class="form-check-label" for="noverbalresponse">
                                    No verbal response
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr class="one">
                    <div class="row rowthree">
                        <div class="col-4 d-flex flex-column justify-content-center" style="font-weight: 700;">
                            <p>Motor Response</p>
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Motor Response" id="obeyscommands"
                                    value="Obeys commands for movement">
                                <label class="form-check-label" for="obeyscommands">
                                    Obeys commands for movement
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Motor Response"
                                    id="purposefulmovement" value="Purposeful movement to painful stimulus">
                                <label class="form-check-label" for="purposefulmovement">
                                    Purposeful movement to painful stimulus
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Motor Response"
                                    id="withdrawsfrompain" value="Withdraws from pain">
                                <label class="form-check-label" for="withdrawsfrompain">
                                    Withdraws from pain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Motor Response"
                                    id="decoraticateposture" value="Abnormal (spastic) flexion, decoraticate posture">
                                <label class="form-check-label" for="decoraticateposture">
                                    Abnormal (spastic) flexion, decoraticate posture
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Motor Response"
                                    id="decerbrateposture" value="Extensor (rigid) response, decerbrate posture">
                                <label class="form-check-label" for="decerbrateposture">
                                    Extensor (rigid) response, decerbrate posture
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Motor Response" id="nomotorresponse"
                                    value="No motor response">
                                <label class="form-check-label" for="nomotorresponse">
                                    No motor response
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="one">
                <div class="row rowfour">
                    <div class="col d-flex flex-column justify-content-center" style="font-weight: 700;">
                        <div class="buttons">
                            <a href="#" class="bttn bttn-1" id="sub" onclick="checkButton()">
                                <svg>
                                    <rect x="0" y="0" fill="none" width="100%" height="100%" />
                                </svg>
                                Submit
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="display">
                    <p id="res"></p>
                </div> -->
                <div class="resultcard">
                    <div class="card text-white" style="background-color: #00010e;" id="ch">
                        <h5 class="card-header" style="color: red; border-bottom-color: #f8f9fa;">Severity Prediction
                        </h5>
                        <div class="card-body" id="cb">
                            <h3 class="card-title" style="color: white;">
                                <p class="card-text" id="sc"></p>
                            </h3>
                            <h4>
                                <p class="card-text" id="res" style="color: white;"></p>
                            </h4>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3" style="z-index: 3000; bottom: 2rem; right: 1rem; position: fixed; ">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header" style="background-color: #0d1822;">
                <strong style="margin-right: 2rem; background-color: #0d1822; color: rgb(255, 255, 255);">Intracranial Brain
                    Hemorrhage Detection</strong>
                <button id="close" type="button" data-bs-dismiss="toast" aria-label="Close"><i
                        class="fas fa-times"></i></button>
            </div>
            <div class="toast-body">
                Please Select an Option for all Parameters!!
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="rowone">
                <div class="col-xl-6 col-lg-6 text-center text-lg-lefts">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2021, All Right Reserved <a href="{% url 'home' %}">Intracranial Brain
                                Hemorrhage
                                Detection</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
<script>
    checkButton = () => {
        const form_element = document.getElementById('ich_predict');
        const mssg_close = document.getElementById('close');
        const formData = new FormData(form_element);
        let x = {};
        for (let name of formData.entries()) {
            x[name[0]] = name[1];
        }
        const y = Object.keys(x).length;
        console.log(y);
        if (y == 3) {
            console.log(x);
        } else {
            const alert = document.getElementById('liveToast');
            const option = {
                delay: 10000
            }
            const toast = new bootstrap.Toast(alert, option);
            toast.show();
            mssg_close.addEventListener('click', () => {
                toast.dispose();
            })
        }

        // let score = 0;
        // console.log(x['Eye Opening Response']);

        let eye_opening_response = {
            'Eyes open spontaneously': 4,
            'Eyes open to verbal command, speech or shout': 3,
            'Eyes open to pain (not applied to face)': 2,
            'No eye opening': 1,
        }

        let verbal_response = {
            'Oriented': 5,
            'Confused conversation, but able to answer questions': 4,
            'Inappropraite responses, words discernible': 3,
            'Incomprehensible sounds or speech': 2,
            'No verbal response': 1,
        }

        let motor_response = {
            'Obeys commands for movement': 6,
            'Purposeful movement to painful stimulus': 5,
            'Withdraws from pain': 4,
            'Abnormal (spastic) flexion, decoraticate posture': 3,
            'Extensor (rigid) response, decerbrate posture': 2,
            'No motor response': 1,
        }

        let eye_opening_response_value = x["Eye Opening Response"];
        let verbal_response_value = x["Verbal Response"];
        let motor_response_value = x["Motor Response"];

        // console.log(eye_opening_response_value);
        // console.log(verbal_response_value);
        // console.log(motor_response_value);

        let eye_opening_response_score = eye_opening_response[eye_opening_response_value];
        let verbal_response_score = verbal_response[verbal_response_value];
        let motor_response_score = motor_response[motor_response_value];

        console.log(eye_opening_response_score);
        console.log(verbal_response_score);
        console.log(motor_response_score);

        let score = 0;
        score = (eye_opening_response_score + verbal_response_score + motor_response_score);

        console.log(score);

        let result = '';

        if (score >= 13 && score <= 15) {
            // console.log('Minor Brain injury');
            result = 'Minor Brain Injury';

        } else if (score >= 9 && score <= 12) {
            // console.log('Moderate Brain injury');
            result = 'Moderate Brain Injury';
        } else if (score >= 3 && score <= 8) {
            // console.log('Severe Brain injury');
            result = 'Severe Brain Injury';
        }
        else {
            result = 'Invalid';
        }

        document.getElementById("sc").innerHTML = 'GCS: ' + score;
        document.getElementById("res").innerHTML = result;

        // console.log(result);
    }
</script>

</html>